<p class="h4 text-center">Permisos</p>
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4">
      <button type="button" (click)="new()" class="btn btn-primary">
        Nuevo
      </button>
      <table class="table caption-top ">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let perm of permissions">
            <th scope="row">{{perm.id}}</th>
            <td>{{perm.name}}</td>
            <td><button type="button" class="btn btn-primary " (click)="modify(perm)">editar</button><button
                type="button" class="btn btn-danger ml-2" (click)="delete(perm.id)">eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="show" class="col-md-6 mt-4">
      <p class="h5">Registrar nuevo permiso</p>
      <div class="mb-3">
        <label for="perm" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="name" id="perm" #name=ngModel [(ngModel)]="model.name">
      </div>
      <button type="button" (click)="save()" class="btn btn-primary my-3">
        Guardar
      </button>

      <button type="button" (click)="new()" class="btn btn-danger">
        Cancelar
      </button>
      <p *ngIf="success" class="mt-4 text-success h4">{{message}}</p>
    </div>

  </div>
</div>
